* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#datetime-picker {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2E2F42;
  padding-left: 16px;
  padding-top: 8;
  padding-bottom: 8;
}


.button {
  border-radius: 8px;
  border: none;
  width: 75px;
  height: 40px;
  background-color: #cfcfcf;
  color: #989898;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover {
  background-color: #6C8CFF;
  color: white;
}

.button:not(:disabled) {
  background-color: #4e75ff;
  color: #ffffff;
}

.timer {
  display: flex;
  gap: 24px;
  width: 346px;
  height: 72px;
}

.field {
  display: flex;
  gap: 0;
  flex-direction: column;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}