* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    padding-top: 30px;
}

.nav-list {
    list-style: none; 
    display: flex;
    gap: 30px; 
}

.nav-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2E2F42;
}